<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script rel="stylesheet" href="bootstrap/js/bootstrap.min.js"></script>        
    </head>
    <body>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <h1>Typically... <small>my thoughts on just about everything.</small>
          <img class="pull-right my-gravatar" src="http://www.gravatar.com/avatar/07ea7ff66be8e4c611891d49efa70307.png" alt="my gravatar" />
        </div></h1>
      </nav>
      <div class="container">
        <div class="row">   
          <div class="col-md-8">        
              {{content}}
          </div>
          <div class="col-md-4">
            <p>
              Hi I'm Ben McGinnis, Chief Operating Officer <a href="http://twitter.com/citrrus">@Citrrus</a>. When I'm not working constantly, I think a lot about American politics and policy.
            </p>
            <p>
              You can see more about what I'm working on here:
              <a href="https://github.com/yourusername">github.com/benmcginnis</a>
            </p>
            <p>
              Feel free to reach out to me on Twitter
              <a href="https://twitter.com/yourusername">@mcginnisb</a>
            </p>
          </div>
        </div>        
      </div>
    </body>
</html>
